body {
    background-color: darkgray;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: dimgray;
    border-radius: 10px;
}

h1{
    text-align: center;
}

input{
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

button{
    padding: 8px 16px;
    font-size: 16px;
    background-color:darkcyan;
    color: #fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    background-color: cadetblue;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

}

li:hover {
    background-color: rgb(131, 198, 201);
}

li span {
    flex: 1;
    text-align: left;

}

.deletebutton {
    margin-left: 5px;

}
